.grid-position{
  width: 70%;
}
.buttom-position{
  display: flex;
  justify-content: center;
}

.button-load{
  padding: 5px;
}

ion-card {
  text-align: center;
  ion-img {
    width: 100%;
    height: auto;
  }
  ion-card-title {
    font-size: 1.2em;
  }
}
