.grid-position{
  width: 70%;
}
.buttom-position{
  display: flex;
  justify-content: center;
}

.button-load{
  padding: 5px;
}

ion-card {
  text-align: center;
  --ion-background-color: rgba(255, 255, 255, 0.692);
  ion-img {
    width: 100%;
    height: auto;
  }
  ion-card-title {
    font-size: 1.2em;
  }
}

ion-content{
  --ion-background-color: aliceblue;
}

ion-toolbar{
  --ion-background-color: slategrey;
  color: azure;
}