<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon List</ion-title>
    <ion-buttons slot="end" routerLink="/favorites">
      Favoritos
      <ion-button >
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-position">
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="4" *ngFor="let pokemon of pokemons">
        <ion-card  [routerLink]="['/details', pokemon.name]">
          <ion-img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="buttom-position">
    <ion-button class="button-load" expand="block" (click)="loadMore()" [hidden]="!hasMoreResults()">Carregar Mais</ion-button>
  </div>
</ion-content>
