.card{
    display: flex;
    justify-content: center;
    height: 50%;
}

.buttom-position{
    display: flex;
    justify-content: center;
}

.info-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-name{
    text-align: center;
}
